---
http_interactions:
- request:
    method: get
    uri: https://api.spoonacular.com/recipes/complexSearch?apiKey=apiKey&query=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow-Control-Allow-Origin:
      - "*"
      Allow-Control-Allow-Methods:
      - GET, HEAD, POST, OPTIONS, DELETE, PUT
      X-Api-Quota-Request:
      - '1.1'
      X-Api-Quota-Used:
      - '68.12000000000003'
      X-Api-Quota-Left:
      - '1431.8799999999999'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":782585,"title":"Cannellini Bean and Asparagus Salad
        with Mushrooms","image":"https://spoonacular.com/recipeImages/782585-312x231.jpg","imageType":"jpg"},{"id":716426,"title":"Cauliflower,
        Brown Rice, and Vegetable Fried Rice","image":"https://spoonacular.com/recipeImages/716426-312x231.jpg","imageType":"jpg"},{"id":715497,"title":"Berry
        Banana Breakfast Smoothie","image":"https://spoonacular.com/recipeImages/715497-312x231.jpg","imageType":"jpg"},{"id":715415,"title":"Red
        Lentil Soup with Chicken and Turnips","image":"https://spoonacular.com/recipeImages/715415-312x231.jpg","imageType":"jpg"},{"id":716406,"title":"Asparagus
        and Pea Soup: Real Convenience Food","image":"https://spoonacular.com/recipeImages/716406-312x231.jpg","imageType":"jpg"},{"id":644387,"title":"Garlicky
        Kale","image":"https://spoonacular.com/recipeImages/644387-312x231.jpg","imageType":"jpg"},{"id":715446,"title":"Slow
        Cooker Beef Stew","image":"https://spoonacular.com/recipeImages/715446-312x231.jpg","imageType":"jpg"},{"id":782601,"title":"Red
        Kidney Bean Jambalaya","image":"https://spoonacular.com/recipeImages/782601-312x231.jpg","imageType":"jpg"},{"id":795751,"title":"Chicken
        Fajita Stuffed Bell Pepper","image":"https://spoonacular.com/recipeImages/795751-312x231.jpg","imageType":"jpg"},{"id":766453,"title":"Hummus
        and Za''atar","image":"https://spoonacular.com/recipeImages/766453-312x231.jpg","imageType":"jpg"}],"offset":0,"number":10,"totalResults":5220}'
  recorded_at: Wed, 01 Nov 2023 20:14:08 GMT
recorded_with: VCR 6.2.0
