---
http_interactions:
- request:
    method: get
    uri: https://api.spoonacular.com/recipes/complexSearch?apiKey=apiKey&query=pasta
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow-Control-Allow-Origin:
      - "*"
      Allow-Control-Allow-Methods:
      - GET, HEAD, POST, OPTIONS, DELETE, PUT
      X-Api-Quota-Request:
      - '1.1'
      X-Api-Quota-Used:
      - '28.080000000000013'
      X-Api-Quota-Left:
      - '1471.92'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":654959,"title":"Pasta With Tuna","image":"https://spoonacular.com/recipeImages/654959-312x231.jpg","imageType":"jpg"},{"id":511728,"title":"Pasta
        Margherita","image":"https://spoonacular.com/recipeImages/511728-312x231.jpg","imageType":"jpg"},{"id":654857,"title":"Pasta
        On The Border","image":"https://spoonacular.com/recipeImages/654857-312x231.jpg","imageType":"jpg"},{"id":654883,"title":"Pasta
        Vegetable Soup","image":"https://spoonacular.com/recipeImages/654883-312x231.jpg","imageType":"jpg"},{"id":654928,"title":"Pasta
        With Italian Sausage","image":"https://spoonacular.com/recipeImages/654928-312x231.jpg","imageType":"jpg"},{"id":654926,"title":"Pasta
        With Gorgonzola Sauce","image":"https://spoonacular.com/recipeImages/654926-312x231.jpg","imageType":"jpg"},{"id":654944,"title":"Pasta
        With Salmon Cream Sauce","image":"https://spoonacular.com/recipeImages/654944-312x231.jpg","imageType":"jpg"},{"id":654905,"title":"Pasta
        With Chickpeas and Kale","image":"https://spoonacular.com/recipeImages/654905-312x231.jpg","imageType":"jpg"},{"id":654901,"title":"Pasta
        With Chicken and Broccoli","image":"https://spoonacular.com/recipeImages/654901-312x231.jpg","imageType":"jpg"},{"id":654913,"title":"Pasta
        With Chicken and Mushrooms","image":"https://spoonacular.com/recipeImages/654913-312x231.jpg","imageType":"jpg"}],"offset":0,"number":10,"totalResults":261}'
  recorded_at: Thu, 02 Nov 2023 14:12:59 GMT
[...]
