---
http_interactions:
- request:
    method: get
    uri: https://api.spoonacular.com/recipes/complexSearch?apiKey=<spoonacular_api_key>&number=100&query=breakfast%20low%20fodmap%20spinach
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow-Control-Allow-Origin:
      - "*"
      Allow-Control-Allow-Methods:
      - GET, HEAD, POST, OPTIONS, DELETE, PUT
      X-Api-Quota-Request:
      - '1.01'
      X-Api-Quota-Used:
      - '208.0899999999998'
      X-Api-Quota-Left:
      - '1291.9100000000003'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":661251,"title":"Spinach Almond Amaranth Breakfast
        Muffins","image":"https://spoonacular.com/recipeImages/661251-312x231.jpg","imageType":"jpg"}],"offset":0,"number":100,"totalResults":1}'
  recorded_at: Mon, 06 Nov 2023 20:57:52 GMT
recorded_with: VCR 6.2.0
