---
http_interactions:
- request:
    method: get
    uri: https://api.spoonacular.com/recipes/complexSearch?apiKey=apiKey&query=breakfast%20low%20fodmap%20spinach
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow-Control-Allow-Origin:
      - "*"
      Allow-Control-Allow-Methods:
      - GET, HEAD, POST, OPTIONS, DELETE, PUT
      X-Api-Quota-Request:
      - '1.01'
      X-Api-Quota-Used:
      - '30.190000000000015'
      X-Api-Quota-Left:
      - '1469.81'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":661251,"title":"Spinach Almond Amaranth Breakfast
        Muffins","image":"https://spoonacular.com/recipeImages/661251-312x231.jpg","imageType":"jpg"}],"offset":0,"number":10,"totalResults":1}'
  recorded_at: Thu, 02 Nov 2023 14:13:00 GMT
[...]
- request:
    method: get
    uri: https://api.spoonacular.com/recipes/complexSearch?apiKey=apiKey&query=breakfast%20low%20fodmap%20spinach
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow-Control-Allow-Origin:
      - "*"
      Allow-Control-Allow-Methods:
      - GET, HEAD, POST, OPTIONS, DELETE, PUT
      X-Api-Quota-Request:
      - '1.01'
      X-Api-Quota-Used:
      - '78.88'
      X-Api-Quota-Left:
      - '1421.12'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":661251,"title":"Spinach Almond Amaranth Breakfast
        Muffins","image":"https://spoonacular.com/recipeImages/661251-312x231.jpg","imageType":"jpg"}],"offset":0,"number":10,"totalResults":1}'
  recorded_at: Thu, 02 Nov 2023 14:26:10 GMT
recorded_with: VCR 6.2.0
