---
http_interactions:
- request:
    method: get
    uri: https://api.spoonacular.com/recipes/complexSearch?apiKey=apiKey&query=apple
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow-Control-Allow-Origin:
      - "*"
      Allow-Control-Allow-Methods:
      - GET, HEAD, POST, OPTIONS, DELETE, PUT
      X-Api-Quota-Request:
      - '1.1'
      X-Api-Quota-Used:
      - '57.12000000000005'
      X-Api-Quota-Left:
      - '1442.8799999999999'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":632485,"title":"Apple Cake","image":"https://spoonacular.com/recipeImages/632485-312x231.jpg","imageType":"jpg"},{"id":632522,"title":"Apple
        Crumble","image":"https://spoonacular.com/recipeImages/632522-312x231.jpg","imageType":"jpg"},{"id":632573,"title":"Apple
        Pie Bars","image":"https://spoonacular.com/recipeImages/632573-312x231.jpg","imageType":"jpg"},{"id":632527,"title":"Apple
        Cupcakes","image":"https://spoonacular.com/recipeImages/632527-312x231.jpg","imageType":"jpg"},{"id":632543,"title":"Apple
        Footballs","image":"https://spoonacular.com/recipeImages/632543-312x231.jpg","imageType":"jpg"},{"id":632603,"title":"Apple
        Tarte Tatin","image":"https://spoonacular.com/recipeImages/632603-312x231.jpg","imageType":"jpg"},{"id":632481,"title":"Apple
        Brown Betty","image":"https://spoonacular.com/recipeImages/632481-312x231.jpg","imageType":"jpg"},{"id":632575,"title":"Apple
        Pie Smoothie","image":"https://spoonacular.com/recipeImages/632575-312x231.jpg","imageType":"jpg"},{"id":632598,"title":"Apple
        spinach soup","image":"https://spoonacular.com/recipeImages/632598-312x231.jpg","imageType":"jpg"},{"id":632577,"title":"Apple
        Pie Pancakes","image":"https://spoonacular.com/recipeImages/632577-312x231.jpg","imageType":"jpg"}],"offset":0,"number":10,"totalResults":415}'
  recorded_at: Wed, 01 Nov 2023 20:03:52 GMT
recorded_with: VCR 6.2.0
