---
http_interactions:
- request:
    method: get
    uri: https://api.spoonacular.com/recipes/complexSearch?apiKey=<spoonacular_api_key>&number=100&query=apple
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow-Control-Allow-Origin:
      - "*"
      Allow-Control-Allow-Methods:
      - GET, HEAD, POST, OPTIONS, DELETE, PUT
      X-Api-Quota-Request:
      - '2.0'
      X-Api-Quota-Used:
      - '203.0799999999998'
      X-Api-Quota-Left:
      - '1296.92'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":632485,"title":"Apple Cake","image":"https://spoonacular.com/recipeImages/632485-312x231.jpg","imageType":"jpg"},{"id":632522,"title":"Apple
        Crumble","image":"https://spoonacular.com/recipeImages/632522-312x231.jpg","imageType":"jpg"},{"id":632573,"title":"Apple
        Pie Bars","image":"https://spoonacular.com/recipeImages/632573-312x231.jpg","imageType":"jpg"},{"id":632527,"title":"Apple
        Cupcakes","image":"https://spoonacular.com/recipeImages/632527-312x231.jpg","imageType":"jpg"},{"id":632543,"title":"Apple
        Footballs","image":"https://spoonacular.com/recipeImages/632543-3[...]
